<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dailyquest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dailyquest.feature.child.scanUid.view.ScanUidActivity"></activity>
        <activity android:name="com.dailyquest.feature.parent.questList.view.QuestListActivity" />
        <activity android:name="com.dailyquest.feature.common.register.view.RegisterActivity" />
        <activity android:name="com.dailyquest.feature.child.main.view.MainChildActivity" />
        <activity android:name="com.dailyquest.feature.parent.main.view.MainParentActivity" />
        <activity android:name="com.dailyquest.feature.common.login.view.LoginActivity" />
        <activity android:name="com.dailyquest.feature.common.role.view.RoleActivity" />
        <activity
            android:name="com.dailyquest.feature.common.splash.view.SplashActivity"
            android:theme="@style/NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>